

<h2>Participating Campuses</h2>
<ul class="collapsible" data-collapsible="accordion">
  <% @cities.each do |school| %>
  <li>
  <div class="collapsible-header">
    <div class="row" id="schools">
      <div class="col s12 l6">
        <h4><i class="material-icons">perm_identity</i><%= school.city %></h4>
      </div>
    </div>
  </div>
    <div class="collapsible-body">
      <ul class="collection">
        <% school.users.each do |user| %>
            <li class="collection-item avatar">
              <% if user.avatar_url.present? %>
                <%= image_tag user.avatar_url, class: "circle" %>
              <% else %>
                <%= image_tag "avatar.png", class: "circle" %>
              <% end %>
              <span class="title"><%= link_to user.name, user %></span>
              <% if user.team.present? && user.team.name != "The Iron Nation"%>
                <%= content_tag :p do %>
                  <%= "Team: #{user.team.name}" %>
                <% end  %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if school.mentors.present? %>
        <ul class="collection with-header">
          <li class="collection-header"><h5><%= school.city %> Mentors</h5></li>
          <% school.mentors.each do |mentor| %>
          <li class="collection-item avatar">
            <% if mentor.avatar.present? %>
              <%= image_tag mentor.avatar, class: "circle" %>
            <% else %>
              <%= image_tag "avatar.png", class: "circle" %>
            <% end %>
            <span class="title"><%= link_to mentor.name, mentor %></span>
          </li>
          <% end %>
        </ul>
        <% end %>
    </div>
  </li>
  <% end %>
</ul>
