

<h2>Participating Campuses</h2>
<ul class="collapsible" data-collapsible="accordion">
  <% @cities.each do |school| %>
  <li>
  <div class="collapsible-header">
    <div class="row" id="schools">
      <div class="col s12 l6">
        <h4><i class="material-icons">perm_identity</i><%= school.city %></h4>
      </div>
      <!-- <div class="col s12 l6">
        <div class="right-align"><%= link_to "Go To #{school.city} Page", school_path(school), class: "btn" %></div>
      </div> -->
    </div>
  </div>

    <div class="collapsible-body">
      <ul class="collection">
        <% school.users.each do |user| %>
            <li class="collection-item avatar">
              <% if user.avatar_url.present? %>
                <%= image_tag user.avatar_url, class: "circle" %>
              <% else %>
                <%= image_tag "avatar.png", class: "circle" %>
              <% end %>
              <span class="title"><%= link_to user.name, user %></span>
              <p>
                <%= "Team: #{user.team.name}" if user.team %>
              </p>
            </li>
          <% end %>
        </ul>
    </div>
  </li>
  <% end %>
</ul>
