

<h2>Participating Campuses</h2>
<ul class="collapsible" data-collapsible="accordion">
  <% @cities.each do |school| %>
  <li>
  <div class="collapsible-header">
    <div class="row" id="schools">
      <div class="col s12 l6">
        <h4><i class="material-icons">perm_identity</i><%= school.city %></h4>
      </div>
      <div class="col s12 l6">
        <div class="right-align"><%= link_to "Go To #{school.city} Page", school_path(school), class: "btn" %></div>
      </div>
    </div>
  </div>

    <div class="collapsible-body">
      <ul class="collection with-header">
        <% school.teams.each do |team| %>
          <li class="collection-header"><h5><%= team.name %> Team</h5></li>
            <% team.users.each do |user| %>
              <li class="collection-item"><%= link_to user.name, user, class: "btn" %></li>
            <% end %>
        <% end %>
          <li class="collection-header"><h5>Users w/ no team :sad_face:</h5></li>
          <li class="collection-item">
            <% school.users.where(team_id: nil).each do |user| %>
              <%= link_to user.name, user, class: "btn" %>
            <% end %>
          </li>
      </ul>
    </div>
  </li>
  <% end %>
</ul>
