<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <p id="notice">
        <% if notice %>
          <script type="text/javascript">
            Materialize.toast('<%= notice %>', 3000)
          </script>
        <% end %>
    </p>

      <!-- banner section -->
      <%= render 'banner_info' %>
      <br><br>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'tiy1.jpg' %></div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <%= render 'icon_section' %>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send tiygray-text"></i></h3>
          <h4 class="white-text">Contact Us</h4>
          <p class="center light white-text">Add an issue to the Github page, and join the conversation on Slack!</p>
        </div>
      </div>


    </div>
  </div>
  <div class="parallax"><%= image_tag 'tiy2.jpg' %></div>
</div>

<div class="container">
  <div class="section">

    <!-- faq section -->
    <div class="row hide-on-med-and-down">
      <h3 class="header col s12 light"></h3>
        <%= render 'faq' %>
    </div>

    <div class="row hide-on-large-only">
      <!-- Modal Trigger -->
      <div class="center">
        <h3><%= link_to "FAQs", "#faq", class: "btn-large tiygray modal-trigger"%></h3>
      </div>

      <!-- Modal Structure -->
      <div id="faq" class="modal">
        <div class="modal-content">
          <%= render 'faq' %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>

  </div>
</div>


<div id="signup" class="modal">
  <div class="modal-content">
    <div class="row">
    <div class="col s0 l3"></div>
    <div class="col s12 l6">
     <%= render partial: 'users/form', locals: {user: @user} %>
    </div>
    <div class="col s0 l3"></div>
   </div>
  </div>
</div>
