<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <!-- banner section -->
      <%= render 'banner_info' %>
      <br><br>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'tiy1.jpg' %></div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <%= render 'icon_section' %>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <!-- faq section -->
      <%= render 'faq' %>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'tiy2.jpg' %></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="center light">Add an issue to the Github page, and join the conversation on Slack!</p>
      </div>
    </div>

  </div>
</div>


<div id="signup" class="modal">
  <div class="modal-content">
    <div class="row">
    <div class="col s3"></div>
    <div class="col s6">
     <%= render partial: 'users/form', locals: {user: @user} %>
    </div>
    <div class="col s3"></div>
   </div>
  </div>
</div>
